.settings-box {
    height: 80px;
    width: 200px;
    background-color: lightblue;
    display:block;
    margin-bottom: 50px;
    margin:auto;
    margin-bottom: 50px;
    color:purple;
    opacity: 85%;
    text-align: center;

}
.game-headings {
    font-size:48px!important;
}
.settings-input {
    width:30%;
}
ul {
    padding-left:0;
}
/*Desktop CSS*/
@media only screen and (min-width: 768px) {
    .game-headings {
        font-size:75!important;
    }
}